@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #090b1a;
  --secondary-color: #0c1828;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  padding-left: 50px;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.title{
    color:#fff;

}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

/* Este código es una hoja de estilos en CSS que define la apariencia y el diseño de una página web. A continuación, analizaré cada parte del código:

Importación de fuentes:

Se importa la fuente 'Poppins' desde Google Fonts utilizando la regla @import. Se especifica que se deben cargar los pesos 200 y 400 de la fuente, y se establece la propiedad display en 'swap'.
Variables de color:

Se definen dos variables CSS en la regla :root para los colores primario y secundario. Estas variables se utilizarán posteriormente en otras reglas para establecer colores de fondo, bordes, etc.
Configuración general:

Se establece la propiedad box-sizing en border-box para que el tamaño total de los elementos incluya el contenido y los bordes, pero no los márgenes.
Se configura el estilo general del body, incluyendo el color de fondo, la fuente y se elimina el margen predeterminado.
Encabezado (header):

Se configura el estilo del encabezado, incluyendo el relleno, la alineación de contenido y el color de fondo.
Campo de búsqueda (search):

Se establece el estilo del campo de búsqueda, incluyendo el color de fondo, el borde, el tamaño de la fuente, el relleno y el color del texto.
Se utiliza la pseudo-clase ::placeholder para cambiar el color del texto de marcador de posición en el campo de búsqueda.
Estilos de la sección principal (main):

Se configura la visualización de la sección principal, especificando que los elementos deben mostrarse en una disposición en fila flexible (flex-wrap: wrap) y centrados horizontalmente (justify-content: center).
Estilos de las películas (movie):

Se establece el tamaño y el margen de las películas, así como el color de fondo, sombra y otros estilos visuales.
Se utiliza la propiedad position: relative para permitir que los elementos secundarios se posicionen de manera absoluta en relación con el elemento padre.
Se establece una altura máxima y se utiliza overflow: hidden para recortar el contenido que exceda esa altura.
Se utiliza border-radius para redondear las esquinas del elemento.
Estilos de imágenes (movie img):

Se establece que las imágenes de las películas deben ocupar el 100% del ancho disponible.
Estilos de información de la película (movie-info):

Se configura el estilo de la información de la película, incluyendo el color del texto, la alineación y otros estilos.
Se utiliza la propiedad display: flex para mostrar los elementos en una fila flexible.
Se utiliza justify-content: space-between para distribuir el espacio disponible entre los elementos hijos.
Estilos de la calificación de la película (movie-info span):

Se establece el estilo de la calificación de la película, incluyendo el color de fondo, el relleno, el radio de borde y otros estilos.
Las clases green, orange y red se utilizan para aplicar diferentes colores según el valor de la calificación.
Estilos de la descripción (overview):
Se configura el estilo de la descripción de la película, incluyendo el color de fondo, el relleno, la posición y otros estilos.
La propiedad transform: translateY(101%) se utiliza para ocultar inicialmente la descripción moviéndola hacia abajo fuera de la vista.
Se establece una altura máxima y se utiliza overflow-y: auto para habilitar el desplazamiento vertical si el contenido excede la altura máxima.
Se aplica una transición suave (transition) para animar el despliegue de la descripción.
Estilo de animación al pasar el cursor por encima (movie:hover .overview):
Cuando el cursor se sitúa sobre un elemento .movie, se aplica una transformación para mostrar la descripción (translateY(0)) y hacerla visible. */